#main-wrapper {
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#my-form {
    background-color: red;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-content: space-around;
}

#my-form > #interface {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: skyblue;

    -webkit-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.35);
}

#my-form > #results {
    background-color: #1C6EA4;
    margin: 0;
    padding: 1rem;
    list-style: none;
    color: white;

    -webkit-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.35);
}

#my-form > #results > li {
    text-align: center;
}