html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    background-color: darkolivegreen;
}

#menu {
    /*background-color: #1C6EA4;*/
}

/* BALANCE VIEW STYLE */
.c-balance {
    display: flex;
    justify-content: center;
    background-color: wheat;
    align-items: center;
    height: 100%;
    font-size: 300%;
}

/* ACTIVITIES VIEW STYLE */
.c-activities {
    display: flex;
    justify-content: center;
    background-color: #9E9E9E;
    align-items: center;
    height: 100%;
    font-size: x-large;
}


/* ANGULAR-TABS */
/*md-content {*/
/*    padding: 0 !important;*/
/*}*/

/*md-tabs {*/
/*    min-height: 100vh !important;*/
/*}*/

/*.ng-scope {*/
/*    height: 100%;*/
/*}*/

.md-tab {
    font-size: inherit !important;
}